@media only screen and (max-width: 1100px) {
    .signup_prompt {
        height: 400px;
        width: 150px;
        background-color: #06A028;

    }
    .login_prompt {
        height: 200px;
        width: 300px;
        background-color: #06A028;

    }
    .reset_prompt {
        height: 100px;
        width: 300px;
        background-color: #06A028;

    }
    .update_prompt {
        height: 150px;
        width: 200px;
        background-color: #06A028;
    }
}
:root {
    --primary_color: #309eed;
    --primary_background_color: #E5E5E5;
    --secondary_background_color: #F8F8F8;
    --details_color: #0000001a;
    --shadow_color: #DEDEDE;

    --title_font_color: #7E7E7E;
    --text_font_color: #4B4B4B;
    --details_font_color: #B9B9B9;

    --post_interaction_color: #0000000d;
    --filter_hover_color: #0000000d;
    --primary_complement_hover: #2386cc;

    --tag_font_color: #FFFFFF;

    --tag_color: #06A028;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

* {
    margin: 0px;
    padding: 0px;
    transition: 0.2s;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: var(--text_font_color);
}

.signup_prompt {

    height: 650px;
    width: 400px;
    background-color: var(--secondary_background_color);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--details_color);
    box-shadow: 0 0 40px var(--shadow_color);
    padding: 50px 35px;
    margin-top: 90px;
    z-index: -1;
}

.signup_prompt h1 {
    text-align: center;
    margin-top: 10px;
    padding: 0 0 20px 0;
    font-size: 25px;
    border-bottom: 1px solid var(--shadow_color);
}

.login_prompt {
    height: 400px;
    width: 500px;
    margin-left: 300px;
    background-color: var(--secondary_background_color);
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--details_color);
    box-shadow: 0 0 40px var(--shadow_color);
    padding: 50px 35px;
    margin-top: 90px;
    z-index: -1;
}


.login_prompt h1 {
    text-align: center;
    margin-top: 10px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--details_color);
    font-size: 30px;
}

.reset_prompt {
    height: 200px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 90px;
    z-index: -1;
}

.reset_prompt h1 {
    text-align: center;
    margin-top: 10px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid gray;
}

.update_prompt {
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 90px;
    z-index: -1;
}

.update_prompt h1 {
    text-align: center;
    margin-top: 10px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid gray;
}

.login_error_message p {
    display: flex;
    position: static;
    justify-self: center;
    color: rgb(255, 0, 0);
    font-size: bolder;
    padding-left: 80px;
    margin-top: -130px;
}

.error_message p {
    display: flex;
    position: static;
    justify-self: center;
    color: rgb(255, 0, 0);
    font-size: bolder;
    padding-left: 80px;
    margin-top: -88px;
}

/* .error_message {text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.error_message p {
   height: 40px;
} */

input {
    display: block;
    height: 50px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 20px;

    font-weight: 300;
    transition: background-color 1s ease;
    margin-left: 25px;
}

input:focus {
    background-color: rgb(248, 252, 252);
    transform: translateY(-5px);
    color: #333;
    transition: all 0.2s ease;
    animation: pulse 0.5s ease;
    border-color: #333;
}

label:focus {
    transform: translateY(-10px);
    font-size: 12px;
    transition: all 0.2s ease;
}

label {
    display: block;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 280px;
}

form .userinfo {
    position: relative;
    border-bottom: 2px solid #ff0000;
    margin: 30px 0;
}

.userInfo {
    width: 100%;
    padding: 0 5px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 23px;
    padding: 8px;
    text-align: center;

}

.submit_button {
    color: red;
    margin-top: 30px;
    margin-bottom: 10px;

    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.submit_button:hover {
    color: #2572d6;
    background-color: rgba(0, 132, 255, 0.05);
}

.selectbox {
    -webkit-appearance: none;
    /* Removes default webkit styles */
    -moz-appearance: none;
    /* Removes default mozilla styles */
    appearance: none;
    /* Removes default styles */
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1.25em 0 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

select {
    outline: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select {
    display: grid;
}

.select {
    grid-template-areas: "select";
}

select,
.select:after {
    grid-area: select;
}

.select {
    align-items: center;
}

.select:after {
    justify-self: end;
}