/*General style start*/
:root {
    --primary_color: #309eed;
    --primary_background_color: #E5E5E5;
    --secondary_background_color: #F8F8F8;
    --shadow_color: #DEDEDE;

    --title_font_color: #7E7E7E;
    --text_font_color: #4B4B4B;
    --details_font_color: #B9B9B9;
    --tag_font_color: #FFFFFF;

    --tag_color: #06A028;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: 0.2s;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: var(--text_font_color);
}

html, body, main {
    height: 100%;
    scroll-behavior: smooth;
}

.main_container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: var(--primary_background_color);
}
/*General style end*/

/*Thread-page style start*/
.main_content_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--secondary_background_color);
}

.solution_container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}

.solution_container > * {
    margin-top: 0px;
}

.solution_sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.solution_sign > div {
    background-color: var(--primary_color);
    width: 3px;
    height: 35%;
    border-radius: 10px;
}

.solution_sign > i {
    width: 24px;
    margin: 8px 0px;
    font-weight: bold;
    color: var(--primary_color);
}

.original_poster > .user_info_container > .username {
    font-weight: bold;
    color: var(--primary_color);
}

.reply_button {
    border-radius: 30px;
    padding: 6.5px 10px;
    font-weight: bold;
    background-clip: border-box;
}

.reply_button:hover {

    background-color: var(--details_font_color);
}
/*Thread-page style end*/

/*Post, comment and subcomment style start*/
.post_container, .comment_container, .subcomment_container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px var(--shadow_color);
    background-color: var(--secondary_background_color);
}

.post_container {
    width: 100%;
}

.comment_container {
    margin-left: auto;
    width: calc(100% - 50px);
    margin-top: 40px;
}

.subcomment_container {
    margin-left: auto;
    width: calc(100% - 100px);
    margin-top: 20px;
}

.post_titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.post_title {
    font-size: xx-large;
    font-weight: bold;
    color: var(--title_font_color);
}

.post_tag {
    padding: 5px 20px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: var(--tag_color);

    font-size: large;
    font-weight: bold;
    color: var(--tag_font_color);
}

.user_info_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}

.user_info_container > img {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    box-shadow: 0px 0px 20px var(--shadow_color);
}

.user_info_container > *{
    margin-right: 10px;
    font-size: large;
    color: var(--details_font_color);
}

.user_tag {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--details_font_color);

    font-size: large;
    font-weight: bold;
    color: var(--tag_font_color);
}

.interaction_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.interaction_container > * {
    font-size: large;
}

.interaction_container > .post_like_count {
    margin-right: 30px;
}

.interaction_container > .post_comment_count {
    margin-right: 20px;
}

.interaction_container > i {
    padding: 5px;
    margin-right: 2px;
    border-radius: 100%;
    background-clip: border-box;
}

.interaction_container > i:hover {
    background-color: var(--details_font_color);
}
/*Post, comment and subcomment style end*/

/*Sidebar style start*/
.sidebar_container > * {
    min-width: 250px;
    padding: 20px;
}

.sidebar_content {
    display: flex;
    position: fixed;
    height: 600px;
    border-radius: 15px;
    background-color: var(--secondary_background_color);
}
/*Sidebar style end*/
